image:
  repository: ghcr.io/nefelim4ag/pingdom-operator
  tag: 0.0.3
  pullPolicy: IfNotPresent
  imagePullSecrets: []

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 5%
    maxUnavailable: 10%

resources:
  requests:
    cpu: "10m"
    memory: 32Mi

env:
  CLUSTER_NAME: "default-cluster"
  DRY_RUN: "False"
  BEARER_TOKEN: ""
  INTEGRATIONS_MAPPING:
    valueFrom:
      configMapKeyRef:
        name: "{{ .Release.Name }}-integrations"
        key: integrations

hostNetwork: true

dnsConfig: {}

# Dictionary
integrations: {}
#  "integration name": 1234
